html {
  height: 100%;
  overflow: hidden;
}

body {
  /* Ensures the rendered parts of the page span 100% of the viewable screen */

  /* Background of the page */
  background-image: url("../images/backround1.jpg");
  background-size: cover;
  /* Default font settings */
font-family: 'Charm', cursive;
}

div.content {
  position: absolute;
  text-align: left;
  top: 18%;
  left: 18%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.content1 {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.content2 {
  position: absolute;
  text-align: center;
  top: 53%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.content3 {
  position: absolute;
  text-align: left;
  top: 63%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.content4 {
  position: absolute;
  text-align: center;
  top: 80%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 120px;

}

h3 {
  font-size: 70px;
}

img.character {
  position: absolute;
  top: 45%;
  left: 75%;
}