html {
 height: 100%;
 overflow: hidden;
}

body {
  /* Ensures the rendered parts of the page span 100% of the viewable screen */
  font-sltyle: 12;

  /* Background of the page */
  background-color: rgb(224, 26, 135);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EF0CE7), to(#2B292B));
  background-image: -webkit-linear-gradient(#EF0CE7, #2B292B);
  bacground-image: -moz-linear-gradient(#EF0CE7, #2B292B);
  background-image: linear-gradient(#EF0CE7, #2B292B);

  /* Default font settings */
  font-family: 'Major Mono Display', monospace;
  font-size: 3em;
}

div.content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
}
h1{ font-family: 'Great Vibes', cursive;}
h5 {
  font-family: 'Pacifico', cursive;

}

img.character {
  position: absolute;
  bottom: 0%;
  right: 0%;
}